/node_modules/
/public/build/

.idea/

logs
*.log

node_modules
dist
dist-ssr
*.local

.example-rsa.pem
.example-rsa.pub

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

